@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/hero" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.biography {
  width: 100%;
  padding: 0 $spacing-unit * 2;
  color: $primary-black;
  @include tablet {
    padding: 0 $spacing-unit * 8;
  }
  @include desktop {
    padding: 0 $spacing-unit * 10;
  }

  &__section {
    @include largeDevice {
      padding: 0 $spacing-unit * 10;
    }
  }

  &__sub-header {
    font-family: $font-primary;
  }

  &__image {
    width: 100%;
  }

  &__blockquote-copy {
    padding-bottom: 0;
  }

  &__blockquote-footer {
    padding: $spacing-unit 0 0 0;
    font-size: 1.25rem;
    @include mobile {
      font-family: $font-demi;
    }
  }

  &__bodytext {
    @include largeDevice {
      display: flex;
      flex-direction: row;
      gap: $spacing-unit * 2;
    }
  }
}
