@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/hero" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer {
  width: 100%;
  padding: 0 $spacing-unit * 2;
  padding-bottom: $spacing-unit * 2;
  color: $white;
  background-color: $primary-black;
  position: relative; // For the logo movement in large devices

  @include tablet {
    padding: $spacing-unit * 8;
  }

  @include desktop {
    padding: $spacing-unit * 10;
  }

  &__section-header {
    padding-right: $spacing-unit * 4;
  }

  &__contact {
    display: flex;
    flex-direction: column;

    @include largeDevice {
      flex-direction: row;
      align-items: baseline;
    }

    .footer__social {
      display: flex;
      flex-direction: row;
      gap: $spacing-unit;
    }
  }

  &__logo {
    padding-top: $spacing-unit * 4;
    .logo__image {
      width: 7.5rem;
      height: auto;

      @include mobile {
        width: 30vw;
        height: auto;
      }
    }

    @include tablet {
      position: absolute;
      top: $spacing-unit * 12;
      right: $spacing-unit * 8;
    }
    @include desktop {
      position: absolute;
      top: $spacing-unit * 14;
      right: $spacing-unit * 10;
    }
  }

  &__social-icon {
    height: 1.5rem;
    width: auto;
    padding-right: $spacing-unit * 4;
  }

  &__contact-group {
    @include largeDevice {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      gap: $spacing-unit * 2;

      @include desktop {
        justify-content: left;
        gap: $spacing-unit * 8;
      }
    }
  }

  &__text-copyright {
    padding-top: $spacing-unit * 2;
    padding-bottom: $spacing-unit * 2;
    @include largeDevice {
      padding-top: $spacing-unit * 8;
    }
  }
}
