@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/hero" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

/* Gallery */
.gallery {
  width: 100%;
  padding: $spacing-unit * 2;
  padding-top: 0;
  color: $primary-black;
  background-color: $alabaster;

  @include tablet {
    padding: 0 $spacing-unit * 8;
    padding-bottom: $spacing-unit * 8;
  }
  @include desktop {
    padding: 0 $spacing-unit * 10;
    padding-bottom: $spacing-unit * 10;
  }
  //&__images
  .gallery__images {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    @include largeDevice {
      display: flex;
      flex-direction: row;
      gap: $spacing-unit * 2;
    }
  }
  //nest &__image
  .gallery__image {
    width: 100%;
    max-width: 100%;
    height: auto;
    @include mobile {
      padding-bottom: $spacing-unit * 2;
    }

    filter: grayscale(100%);
    transition: filter 0.25s ease;

    // Diving Deeper Req: The image goes to full color
    &:hover {
      filter: grayscale(0%);
    }

    // Added cal so each image takes 1 third of a row minus gap
    @include largeDevice {
      flex: 1 1 calc(33.333% - #{$spacing-unit * 2});
      max-width: calc(33.333% - #{$spacing-unit * 2});
    }
  }
}
