@use "./mixins" as *;
@use "./variables" as *;

// /* Global Reset and Universal Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}

h1 {
  @include pageHeader;
}

h2 {
  @include sectionHeader;
}

h3 {
  @include subHeader;
}

h4,
label,
.show-item__label {
  @include labelsAndButtons;
}

h5 {
  @include quotes;
}

body p,
.show-item p {
  @include bodyCopy;
}

footer p {
  @include footerCopy;
}

body {
  color: $bandSite-Black;
}
//logo restrictions
.site__logo {
  max-width: 7.5rem;
  max-height: 1.25rem;
}

//button
button {
  background-color: $bandSite-Black;
  color: $white;
  font-weight: $font-weight-demi;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 100%;
  border-radius: 0.4rem;
  text-transform: uppercase;
  margin: $spacing-unit * 2 0;

  cursor: pointer;
  @include tablet {
    padding: 0 2rem;
    width: fit-content;
  }

  &:hover {
    background-color: $bandSite-DarkBlack;
  }
}

//nav-bar
.nav-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  color: $white;
  background-color: $bandSite-Black;

  @include tablet {
    flex-direction: row;
    justify-content: left;
    gap: $spacing-unit * 8;
    padding: 0 $spacing-unit * 8;
    height: $spacing-unit * 10;
  }
  @include desktop {
    gap: $spacing-unit * 10;
    padding: 0 $spacing-unit * 10;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: $spacing-unit * 6;
    @include tablet {
      align-items: center;
      height: 100%;
    }
  }

  &__pages {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @include tablet {
      gap: $spacing-unit * 8;
      align-items: center;
      height: 100%;
    }
    @include desktop {
      gap: $spacing-unit * 6;
    }
  }

  &__page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    height: $spacing-unit * 6;
    @include tablet {
      height: 100%;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    &--active {
      font-weight: $font-weight-demi;
      border-bottom: $spacing-unit * 0.5 solid $white;
    }
    &--inactive {
      color: $mercury;
      border-bottom: $spacing-unit * 0.5 solid $bandSite-Black;

      cursor: pointer;
      &:hover {
        border-bottom: $spacing-unit * 0.5 solid $white;
        color: $white;
      }
    }
  }
}

//cover/hero section
.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 50vh;
  overflow: hidden;
  color: $white;
  @include desktop {
    min-height: 70vh;
  }

  &__page-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    text-align: left;
    // gap: $spacing-unit * 2;

    @include devicePadding;
  }
  &__page-header-content {
    @include desktop {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      // align-content: baseline;
      align-items: center;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #323232;
      opacity: 0.5;
      z-index: 1;
    }
  }
  //cover/hero section, unique parts of shows page: title and iframe

  &__title {
    display: flex;
    flex-direction: column;
  }
  &__iframe {
    z-index: 2;
    width: 100%;

    @include tablet {
      width: 60%;
    }
    @include desktop {
      width: 50%;
    }
  }
}

//updated footer
.footer {
  color: $white;
  background-color: $bandSite-Black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: fit-content;
  max-height: 100vh;
  @include devicePadding;
  position: relative;
  gap: $spacing-unit * 2;
  &__contact {
    display: flex;
    flex-direction: column;
    // gap: $spacing-unit * 2;
    @include tablet {
      flex-direction: row;
      align-items: baseline;
      gap: $spacing-unit * 4;
      @include desktop {
        gap: $spacing-unit * 5;
      }
    }
  }

  &__contact-group {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      gap: $spacing-unit * 2;

      @include desktop {
        justify-content: left;
        gap: $spacing-unit * 8;
      }
    }
  }
  &__social {
    display: flex;
    flex-direction: row;
    gap: $spacing-unit * 4;
  }

  &__social-icon {
    height: $spacing-unit * 3;
    width: auto;
  }

  &__contact-card {
    display: flex;
    flex-direction: column;
    // gap: $spacing-unit * 2;
  }

  &__sub-header {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    padding-top: $spacing-unit * 6;
    img {
      max-width: 100%;
      height: auto;
    }
    @include tablet {
      position: absolute;
      top: $spacing-unit * 2;
      right: $spacing-unit * 8;
      z-index: 1;
    }

    @include desktop {
      position: absolute;
      top: $spacing-unit * 2;
      right: $spacing-unit * 12;
      z-index: 1;
    }
  }

  a {
    padding-top: $spacing-unit * 2;
  }

  h3 {
    font-weight: $font-weight-demi;
    @include tablet {
      font-size: 1rem;
      padding-top: 0;
    }
  }
  &__text-copyright {
    padding-bottom: $spacing-unit * 2;
  }
}
