@use "./variables" as *;

// Mixin for tablet (>768px)
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

// Mixin for desktop view (>1280px)
@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

//Padding Mixin
@mixin devicePadding {
  padding: 0 $spacing-unit * 2;
  padding-bottom: $spacing-unit * 2;

  @include tablet {
    padding: 0 $spacing-unit * 8;
  }

  @include desktop {
    padding: 0 $spacing-unit * 10;
  }
}
/* Custom Font Face */
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

//Font styling across device sizes

// Nav bar text styling
@mixin nav-barPage {
  font-size: 1.25rem;
  line-height: 2rem;

  @include tablet {
    font-size: 0.875rem;
    line-height: 2.375rem;
  }
}

// Type Kit Mixins

// h1 page header
@mixin pageHeader {
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: $font-weight-demi;

  @include tablet {
    font-size: 3.75rem;
    line-height: 2.75rem;
  }
}

// h2 section headers
@mixin sectionHeader {
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: $font-weight-demi;
  padding-top: 1.5rem;
  padding-bottom: 1rem;

  @include tablet {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}

// h3 subheaders
@mixin subHeader {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: $font-weight-regular;
  padding-top: 1.5rem;
  padding-bottom: 1rem;

  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}

// h4 Labels & Buttons
@mixin labelsAndButtons {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: $font-weight-demi;
  text-transform: uppercase;
  color: $silver;

  @include tablet {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
}

// h5 quotes
@mixin quotes {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: $font-weight-demi;
  // padding-top: 1.5rem;
  // padding-bottom: 1rem;

  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 3rem;
    // padding-bottom: 2.25rem;
  }
}

// Body copy in p tags
@mixin bodyCopy {
  font-size: 1.15rem;
  line-height: 1.5rem;
  padding-bottom: 1.5rem;

  @include tablet {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

// Footer copy in p tags
@mixin footerCopy {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding-bottom: 1rem;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
