@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/hero" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.nav-bar {
  width: 100%;
  background-color: $primary-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  padding-top: $spacing-unit * 2;

  @include tablet {
    flex-direction: row;
    justify-content: left;
    padding-left: $spacing-unit * 8;
  }
  @include desktop {
    flex-direction: row;
    justify-content: left;
    padding-left: $spacing-unit * 10;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $spacing-unit * 2;

    .logo__image {
      width: 7.5rem;
      height: auto;

      @include mobile {
        width: 30vw;
        height: auto;
      }
    }
  }

  &__pages {
    display: flex;
    width: 100%;
    justify-content: center;

    @include largeDevice {
      justify-content: flex-start;
      width: auto;
    }

    .nav-bar__page {
      display: flex;

      &--active {
        border-bottom: 0.25rem solid white;
        padding: 1rem 0;
        font-family: $font-bold; //Doesn't apply in browser - unsure why, feedback appreciated!
        @include mobile {
          padding-top: 0;
        }
      }

      &--inactive {
        border-bottom: 0.25rem solid $primary-black;
        padding: 1rem 0;
        @include mobile {
          padding-top: 0;
        }
      }

      &--active,
      &--inactive {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50vw;

        @include largeDevice {
          width: auto;
          margin-left: $spacing-unit * 2;
          margin-right: $spacing-unit * 2;
        }

        .page__label {
          @include nav-barPage;
          text-align: center;
          cursor: pointer;
          transition: transform 0.2s ease;

          &:hover {
            transform: scale(
              1.25
            ); // Dive Deeper Sprint 1: hover effect looks like "zoom" as text grows 25% larger
          }

          &:focus,
          &:active {
            outline: none;
          }
        }
      }
    }
  }
}
