// Define variabiles and mixins for font settings that include family, weight, and style
$font-primary: "Avenir Next", sans-serif;
$font-weight-regular: 400;
$font-weight-demi: 500;
$font-weight-bold: 700;

// // Colors
$bandSite-Black: #323232;
$silver: #afafaf;
$white: #ffffff;
$bandSite-DarkBlack: #000000;
$mercury: #e1e1e1;
$alabaster: #fafafa;
$error-state: #d22d2d;

// /* Spacing */
$spacing-unit: 0.5rem; // 8px Base spacing unit for layout and padding
