@use "./partials/global" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

//biography
.biography {
  width: 100%;

  @include devicePadding;

  &__section {
    @include tablet {
      padding: 0 $spacing-unit * 10;
    }
  }

  &__image {
    width: 100%;
    min-height: 25vh;
    max-height: 35vh;
    object-fit: cover;
    padding-bottom: 1.5rem;
    @include tablet {
      max-height: 60vh;
    }
  }
  &__blockquote {
    @include desktop {
      max-width: 80%;
    }
  }

  &__blockquote-footer {
    @include tablet {
      font-size: 1rem;
      padding-top: $spacing-unit * 2;
    }
  }
  &__bodytext {
    @include tablet {
      display: flex;
      flex-direction: row;
      gap: $spacing-unit * 2;
    }
  }
}

//gallery
.gallery {
  width: 100%;
  background-color: $alabaster;
  @include devicePadding;

  &__images {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: $spacing-unit * 2;

    @include tablet {
      display: flex;
      flex-direction: row;
    }
  }

  &__image {
    width: 100%;
    max-width: 100%;
    height: auto;

    //image hover effect
    filter: grayscale(100%);
    transition: filter 0.25s ease;

    &:hover {
      filter: grayscale(0%);
    }

    @include tablet {
      flex: 1 1 calc(33.333% - #{$spacing-unit * 2});
      max-width: calc(33.333% - #{$spacing-unit * 2});
    }
  }
}

//comments
.comments {
  display: flex;
  flex-direction: column;
  @include devicePadding;
  &__form {
    @include tablet {
      padding: 0 $spacing-unit * 10;
    }
    @include desktop {
      padding: 0 $spacing-unit * 30;
    }
  }
  &__inputbox {
    display: flex;
    flex-grow: 1;
  }

  &__form-submission {
    display: flex;
    flex-direction: row;
    gap: $spacing-unit * 2;
    border-bottom: 0.125rem solid $mercury;
    padding-bottom: $spacing-unit * 2;

    .form {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      width: 100%;
      gap: $spacing-unit * 2;

      &__name,
      &__comment {
        display: flex;
        flex-direction: column;
      }

      &__button {
        @include tablet {
          align-self: flex-end;
        }
      }

      &__field {
        border: 0.0625rem solid $mercury;
        background-color: $alabaster;
        padding: 12px;
        border-radius: 4px;
        width: 100%;

        &:focus {
          border-color: $bandSite-Black;
          outline: none;
        }

        &:valid:not(:placeholder-shown):not(:focus) {
          border-color: $mercury;
        }

        ////error state coloring - please advise, difficulty applying to specificed rules (e.g. invalid/empty field but placeholder text not present)
        // &:invalid:focus:not(:placeholder-shown) {
        //   border-color: $error-state;
        // }

        //placeholder text formatting
        &::placeholder {
          color: $bandSite-Black;
          opacity: 1;
          font-size: 1.15rem;
        }
      }
    }
  }
  //avatar styling
  &__avatar {
    border-radius: 50%;
    min-width: 2.25rem;
    max-width: 2.25rem;
    min-height: 2.25rem;
    max-height: 2.25rem;
    object-fit: cover;

    &--placeholder {
      min-width: 2.25rem;
      max-width: 2.25rem;
      min-height: 2.25rem;
      max-height: 2.25rem;
      position: relative;
      width: auto;
      height: auto;
      padding-top: $spacing-unit * 3;
    }

    &--placeholder::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: $mercury;
    }
    @include tablet {
      &__avatar {
        border-radius: 50%;
        min-width: 3rem;
        max-width: 3rem;
        min-height: 3rem;
        max-height: 3rem;
        object-fit: cover;

        &--placeholder {
          min-width: 3rem;
          max-width: 3rem;
          min-height: 3rem;
          max-height: 3rem;
          position: relative;
          width: auto;
          height: auto;
          padding-top: $spacing-unit * 3;
        }
      }
    }
  }
  //API array styles
  &__array {
    .comment-item {
      display: flex;
      flex-direction: row;
      gap: $spacing-unit * 2;
      border-bottom: 0.125rem solid $mercury;
      width: 100%;
      padding-bottom: $spacing-unit * 3;

      &__subheader {
        font-weight: $font-weight-demi;
      }

      &__date {
        color: $silver;
      }
      &__content {
        flex-grow: 1;
        width: 100%;
      }

      &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        width: 100%;
      }
    }
  }
}
