/* Custom Font Face */
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir Next", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}

h1 {
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: 500;
  padding: 1.5rem 0;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.75rem;
    padding: 3rem 0;
  }
}

h2 {
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: 500;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}

h3 {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 400;
  padding-top: 1.5rem;
}
@media (min-width: 768px) {
  h3 {
    font-size: 1.75rem;
    line-height: 2rem;
    padding-top: 3rem;
  }
}

h4,
label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #afafaf;
}
@media (min-width: 768px) {
  h4,
  label {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
}

h5 {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  h5 {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 3rem;
  }
}

body p {
  font-size: 1.15rem;
  line-height: 1.5rem;
  padding-top: 1.5rem;
}
@media (min-width: 768px) {
  body p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

footer p {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
@media (min-width: 768px) {
  footer p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.site__logo {
  max-width: 7.5rem;
  max-height: 1.25rem;
}

button {
  background-color: #323232;
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 100%;
  border-radius: 0.25rem;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
}
@media (min-width: 768px) {
  button {
    min-width: 9.375rem;
    padding: 0 2rem;
  }
}
button:hover {
  background-color: #000000;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  color: #ffffff;
  background-color: #323232;
}
@media (min-width: 768px) {
  .nav-bar {
    flex-direction: row;
    justify-content: left;
    padding: 0 4rem;
  }
}
@media (min-width: 1280px) {
  .nav-bar {
    padding: 0 5rem;
  }
}
.nav-bar__logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 3rem; /* Set logo height */
}
.nav-bar__pages {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center the navigation pages */
}
.nav-bar__page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
  height: 3rem;
}
.nav-bar__label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.nav-bar__label--active {
  font-weight: 500;
  border-bottom: 0.25rem solid #ffffff;
}
.nav-bar__label--inactive {
  color: #e1e1e1;
  border-bottom: 0.25rem solid #323232;
  cursor: pointer;
}
.nav-bar__label--inactive:hover {
  border-bottom: 0.25rem solid #ffffff;
  color: #ffffff;
}

body {
  color: #323232;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 50vh;
  overflow: hidden;
  color: #ffffff;
}
.cover__page-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 0 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .cover__page-header {
    padding: 0 4rem;
    padding-bottom: 1rem;
  }
}
@media (min-width: 1280px) {
  .cover__page-header {
    padding: 0 5rem;
    padding-bottom: 1rem;
  }
}
.cover__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}
.cover__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.cover__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #323232;
  opacity: 0.5;
  z-index: 1;
}
.cover__title {
  display: flex;
  flex-direction: column;
}
.cover__iframe {
  z-index: 2;
  width: 100%;
}
@media (min-width: 768px) {
  .cover__iframe {
    width: auto;
    max-width: 60%;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .cover__iframe {
    width: auto;
    max-width: 40%;
  }
}

.footer {
  color: #ffffff;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: -moz-fit-content;
  min-height: fit-content;
  max-height: 100vh;
  padding: 0 1rem;
  padding-bottom: 1rem;
  position: relative;
}
@media (min-width: 768px) {
  .footer {
    padding: 0 4rem;
    padding-bottom: 1rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 0 5rem;
    padding-bottom: 1rem;
  }
}
.footer__contact {
  display: flex;
  flex-direction: column;
}
.footer__contact-group {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}
.footer__social {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.footer__social-icon {
  height: 1.5rem;
  width: auto;
}
.footer__contact-card {
  display: flex;
  flex-direction: column;
}
.footer__sub-header {
  display: flex;
  flex-direction: column;
}
.footer__logo {
  padding-top: 3rem;
}
.footer__logo img {
  max-width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .footer__logo {
    position: absolute;
    top: 0;
    right: 4rem;
    z-index: 1;
  }
}
@media (min-width: 1280px) {
  .footer__logo {
    position: absolute;
    top: 0;
    right: 6rem;
    z-index: 1;
  }
}
.footer a {
  padding-top: 1rem;
}
.footer h3 {
  font-weight: 500;
}

.shows {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 0 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .shows {
    padding: 0 4rem;
    padding-bottom: 1rem;
  }
}
@media (min-width: 1280px) {
  .shows {
    padding: 0 5rem;
    padding-bottom: 1rem;
  }
}
.shows__label--tablet {
  display: none;
}
@media (min-width: 768px) {
  .shows__label--tablet {
    display: flex;
  }
}
.shows__label--tablet {
  padding-top: 0;
  text-transform: uppercase;
  color: #afafaf;
  display: none;
  font-weight: 500;
  flex-grow: 1;
}
@media (min-width: 768px) {
  .shows__label--tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .shows__label--tablet > * {
    flex-grow: 1;
    flex-basis: 25%;
    text-align: left;
  }
  .shows__label--tablet p {
    flex-grow: 1;
    margin: 0;
    padding-top: 0;
  }
}
.shows .show-item {
  border-bottom: 1px solid #e1e1e1;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  cursor: pointer;
}
.shows .show-item:hover {
  background-color: #fafafa;
}
.shows .show-item--selected {
  background-color: #e1e1e1;
}
.shows .show-item--selected:hover {
  background-color: #e1e1e1;
}
@media (min-width: 768px) {
  .shows .show-item {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .shows .show-item > * {
    flex-grow: 1;
    flex-basis: 25%;
    text-align: left;
  }
}
.shows .show-item h4 {
  padding-top: 1rem;
}
.shows .show-item p {
  flex-grow: 1;
  margin: 0;
  padding-top: 0;
}
.shows .show-item--bold {
  font-weight: 500;
  flex-grow: 1;
}
.shows .show-item--hidden {
  text-transform: uppercase;
  color: #afafaf;
}
@media (min-width: 768px) {
  .shows .show-item--hidden {
    display: none;
  }
}/*# sourceMappingURL=shows.css.map */