@use "./partials/global" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

//cover/hero section, unique parts of shows page: title and iframe
.cover {
  &__title {
    display: flex;
    flex-direction: column;
  }
  &_iframe {
    z-index: 2;
    max-height: 25vw;
    width: 100%;
  }
}

//Shows section
.shows {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @include devicePadding;

  .show-item {
    border-bottom: 1px solid $mercury;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    // Tablet styles
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      // Equal width setup for children
      & > * {
        flex-grow: 1;
        flex-basis: 25%; // Each child takes 25% of the total width
        text-align: left;
      }
    }

    p {
      flex-grow: 1;
      margin: 0;
    }

    &--bold {
      font-weight: $font-weight-demi;
      flex-grow: 1;
    }
    &__label {
      display: none;

      @include tablet {
        display: flex;
      }
    }
    // Hide labels in tablet view
    &--hidden {
      text-transform: uppercase;
      color: $silver;

      @include tablet {
        display: none;
      }
    }
  }
}
